<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.Id">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="Nombre.valid" [class.red-icon]="Nombre.invalid && Nombre.touched"></i>
          </div>
        </div>
        <input name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.Nombre" class="form-control"
               placeholder="Nombre de Usuario" required>
      </div>
    </div>
  
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="Clave.valid" [class.red-icon]="Clave.invalid && Clave.touched"></i>
          </div>
        </div>
        <input name="Clave" #Clave="ngModel" [(ngModel)]="service.formData.Clave" class="form-control"
               type="password" required>
      </div>
    </div> 
  
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="button" [disabled]="form.invalid"
        (click)="onSubmit(form)"><i class="fas fa-database"></i> Guardar</button>
    </div>
  </form>
  