      
       <h1 class="text-control">Registra tu usuario<i class="fa fa-user"></i></h1>
       <br/>
       <form #form="ngForm" autocomplete="off">
       <div class="row">
         <div class="col-md-6 ">            
              
                  <div class="form-group">
                     <label>Nombre de Usuario</label>
                     <input class="form-control"  name="Name" type="text"  [(ngModel)]="registerUserData.Name" required>
                  </div>
                  <div class="form-group">
                     <label>Apellido de usuario</label>
                     <input class="form-control"  name="LastName" type="text" [(ngModel)]="registerUserData.LastName" required>
                  </div>
                  <div class="form-group">
                     <label>Email</label>
                     <input class="form-control" name="Email" type="email" [(ngModel)]="registerUserData.Email" required>
                  </div>
         </div>
         <div class="col-md-4 ">
                  <div class="form-group">
                     <label>Numero de celular</label>
                     <input class="form-control" name="Phone" type="text"  [(ngModel)]="registerUserData.Phone" required>
                  </div>
                  <div class="form-group">
                     <label>Cedula de identidad</label>
                     <input class="form-control"  name="nombre" type="text" [(ngModel)]="registerUserData.Ci" required>
                  </div>
                  <div class="form-group">
                     <label>Clave</label>
                     <input class="form-control" name="Password" type="password" [(ngModel)]="registerUserData.Password"  autocomplete="on" required>
                  </div>

                  <div class="form-group">
                     <label>Rol de usuario</label><br>
                     <select name="RolUser" [(ngModel)]="registerUserData.Role" >
                        <option *ngFor="let rol of RolUser" [value]="rol.value">
                        {{rol.display}}
                        </option>
                     </select>
                  </div>
          </div>   
          <div class="col-md-8 text-center" style="padding: 00px 00px 00px 50px;">
            <button class="btn btn-success btn-lg btn-block" type="button" [disabled]="form.invalid"
            (click)="registerUser()"><i class="fas fa-database"></i> Guardar</button>
          </div>       
       </div>
      </form>     