

<div class="sidenav">
         <div class="login-main-text">
            <h2>Delivery Choc</h2>
            <h2>Login</h2>
            <p>Aqui te podras logear con tu Usuario y Clave..!</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>Usuario</label>
                     <input class="form-control"  placeholder="login" name="Email" type="text" placeholder="Usuario" [(ngModel)]="loginUserData.Email" required>
                  </div>
                  <div class="form-group">
                     <label>Clave</label>
                     <input class="form-control" placeholder="password" name="clave" type="Password" placeholder="Clave" [(ngModel)]="loginUserData.Password" required>
                  </div>
                  <button class="btn btn-info btn-block login" type="button" (click)="loginUser()">Login</button>
               </form>
            </div>
         </div>
      </div>