

<!------ Include the above in your HEAD tag ----------><!------ Include the above in your HEAD tag ---------->

<header class="mt-0 pt-0">
  <div class="bg-cover clearfix pt-3">   
    <nav>
      <h2 class="logo text-center">Bienes y raices </h2>
      
    </nav>
  <div class="">
    <nav class="navbar navbar-expand-md" >      
      <div id="my-nav" class="collapse navbar-collapse text-left">        
        <ul class="navbar-nav mx-auto">          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" *ngIf="!_authService.loggedIn()"  routerLinkActive="active" routerLink="/ingresar">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  *ngIf="!_authService.loggedIn()" routerLinkActive="active" routerLink="/registrar">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  *ngIf="_authService.loggedVendor()" routerLinkActive="active" routerLink="/propiedades">Propiedades</a>
          </li>      
      </ul>

      <style>
        .navbar-nav2{
          text-align: right;
        }
      </style>
      
      <ul class="navbar-nav2" style="margin: 10px 0 0 10px;" *ngIf="_authService.loggedIn()">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" *ngIf="_authService.loggedIn()" style="cursor: pointer;" (click)="_authService.logoutUser()">Cerrar sesion</a>
        </li>
      
        <li class="text-white" *ngIf="_authService.loggedVendor()" >                      
          &nbsp;  <label >Usuario Vendedor</label><br/>
            <label *ngFor="let nameLogged of NameLogged" ><i class="fa fa-user"></i> {{nameLogged.display}}</label>      
       
        </li>
        <li class="text-white" *ngIf="_authService.loggedBuyer()" >                      
          &nbsp;  <label >Usuario Comprador</label><br/>
            <label *ngFor="let nameLogged of NameLogged" ><i class="fa fa-user"></i> {{nameLogged.display}}</label>           
     
        </li>    
         
        <li class="text-white"*ngIf="_authService.loggedAdministrator()"  >                      
         &nbsp;  <label >Usuario Administrador</label><br/>
           <label *ngFor="let nameLogged of NameLogged" ><i class="fa fa-user"></i> {{nameLogged.display}}</label>           
          
       </li>        
      </ul>

      </div>
    </nav>    
  </div>  
  </div>  
</header>
<div class="container-fluid video-player">

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

