

<!------ Include the above in your HEAD tag ----------><!------ Include the above in your HEAD tag ---------->

<header class="mt-0 pt-0">
  <div class="bg-cover clearfix pt-3">   
    <nav>
      <h2 class="logo text-center">Bienes y raices </h2>
      
    </nav>
  <div class="">
    <nav class="navbar navbar-expand-md" >      
      <div id="my-nav" class="collapse navbar-collapse text-left">        
        <ul class="navbar-nav mx-auto">          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" *ngIf="!_authService.loggedIn()"  routerLinkActive="active" routerLink="/ingresar">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  *ngIf="!_authService.loggedIn()" routerLinkActive="active" routerLink="/registrar">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" *ngIf="_authService.loggedIn()" style="cursor: pointer;" (click)="_authService.logoutUser()">Salir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  *ngIf="_authService.loggedAdministrator()" routerLinkActive="active" routerLink="/registrar">Logeado de admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  *ngIf="_authService.loggedBuyer()" routerLinkActive="active" routerLink="/registrar">Logeado de comprador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  *ngIf="_authService.loggedVendor()" routerLinkActive="active" routerLink="/registrar">Logeado de vendedor</a>
          </li>         
      </ul>
      </div>
    </nav>    
  </div>  
  </div>  
</header>
<div class="container-fluid video-player">

  <div class="container">

    <router-outlet></router-outlet>

  </div>
</div>

