<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Delivery</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
              
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" *ngIf="!_authService.loggedIn()" routerLinkActive="active" routerLink="/ingresar">Ingresar</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger"  *ngIf="!_authService.loggedIn()" routerLinkActive="active" routerLink="/registrar">Registrar</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" *ngIf="_authService.loggedIn()" style="cursor: pointer;" (click)="_authService.logoutUser()">Salir</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger"  *ngIf="_authService.loggedIn()" routerLinkActive="active" routerLink="/usuarios">Usuario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" *ngIf="!_authService.loggedIn()"  routerLinkActive="active" routerLink="/propiedades">Propiedades</a>
                </li>
              </ul>
        </div>
    </div>
</nav>

<br>
<br>
  <router-outlet></router-outlet>
</div>

