<style>
	body { margin: 0; padding: 0; }
	#myModalInfo {  width: 100%; height:80% ; }
  #myModalInfo { margin: 10; padding: 10;}
  
</style>
<br/>
<app-filter (filterChanged)="filterData($event)"></app-filter>
<br/>
<br/>
<table class="table table-hover " style="text-align:center;" >
    <thead class="thead-dark" >
      <tr>
        <th scope="col" sortable="Price" (sort)="onSort($event)">Precio</th>
        <th scope="col" sortable="Description" (sort)="onSort($event)">Descripci&oacute;n</th>
        <th scope="col" sortable="Direction" (sort)="onSort($event)">Direcci&oacute;n</th>
        <th scope="col" sortable="Size" (sort)="onSort($event)">Tama&ntilde;o</th>
        <th scope="col" sortable="Bedrooms" (sort)="onSort($event)">Cuartos</th>
        <th scope="col" sortable="Bathrooms" (sort)="onSort($event)">Ba&ntilde;os</th>

        
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of service.list">
        <td (click)="populateForm(property)">{{property.Price}}</td>
        <td (click)="populateForm(property)">{{property.Description}}</td>
        <td (click)="populateForm(property)">{{property.Direction}}</td>
        <td (click)="populateForm(property)">{{property.Size}}</td>
        <td (click)="populateForm(property)">{{property.Bedrooms}}</td>
        <td (click)="populateForm(property)">{{property.Bathrooms}}</td>
        <td>  
          <div class="row">
          <div class="col-md-3">
            <i class="fas fa-images" title="Agregar imagen" (click)="mostrarModalInfo(property.Id)"></i> 
          </div>    
          <div class="col-md-3">
            <i class="fas fa-eye" title="Ver informacion" (click)="getPropertyDetail(property.Id)"></i> 
          </div> 
          <div class="col-md-3">
            <i  class="fas fa-edit text-success" title="Editar informacion" (click)="getPropertyEdit(property.Id)"></i>
          </div>      
          <div class="col-md-3">
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(property.Id)"></i>
          </div>      
        </div>   
        </td>
      </tr>
    </tbody>
    <tfoot >
      <tr>
          <td colspan="11">
              <app-pager [totalRows]="service.totalRows"
                         [itemsPerPage]="10"
                         [allowToChangePageSize]="true" 
                         (pageChanged)="pageChanged($event)"
                         (pageSizeChanged)="pageSizeChanged($event)"></app-pager>
          </td>
      </tr>
    </tfoot>
  </table>


  <ng-template #myModalInfo let-modal>

    <div class="modal-content" id="Mymodal">
      <div class="modal-header" >
        <h5 class="modal-title" >Galeria de imagenes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()"> 
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      
      <div class="modal-body">
        <div class="thumbnails" id="mostrar_videos">
        </div>
     
        <div style="text-align:center;">
          Aqui podra agregar una nueva imagen 
        </div>
        <hr/>
        <div class="text-center">
          <img  [src]="url" width="200" height="120">
          <br />
          <br />
          <input (change)="picked($event,1)"  type="file">
        </div>
       
        <hr />
        <div style="text-align:center;">
          Aqui se le mostrara una vista previa de la galeria de la propiedad, click sobre una imagen para eliminar.
        </div>
      
        <hr />
          <div class="row">
            <div *ngFor="let imagen of service.listGaleria">
                <a (click)="deleteImage(imagen.Id)"><img  [src]="'data:image/jpg;base64,'+imagen.imagen64" width="150" height="130" /></a>
            </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-success" (click)="savedImage()">Guardar</button>
      </div>
    </div>
  
  </ng-template><ng-template #myModalInfo let-modal>

  